h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  font-size: 12px;
  padding: 24px;
  margin: 0;
  text-align: center;
}

section {
  margin: 40px;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding: 24px;
}
